.the-moon-word-space {
    width:150%;
    height: auto;
    align-self: center;
    h4 {
        display: inline;
        font-size: min(5vw,70px);
        span {
            font-size: 20px;
            font-size: min(5vw,70px);
        }
    }
    .yellow-moon {
        color: #fd9550;
    }
}